@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

:root {
	--primary: #212529;
	--main-navigation-height: 80px;
	--main-footer-height: 80px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Cousine', monospace;
}

body {
	min-height: 100vh;
	color: var(--primary);
}

.container-fluid {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 1rem;
}

nav.main-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	& .nav-logo {
		flex: 0 1 auto;
		height: var(--main-navigation-height);
		& img {
			max-height: 100%;
		}
	}
	& .nav-menu-wrapper {
		flex: 1 1 100%;
		position: relative;
		transition-property: none;
		& > ul {
			list-style: none;
			display: flex;
			background-color: lightgray;
			width: 100%;
			position: absolute;
			top: calc(var(--main-navigation-height) / 2);
			transform: translateY(-50%);

			& > li {
				flex: 1 1 auto;
				text-align: center;
				font-size: 1.8rem;

				& a.nav-item {
					padding: 0.2em 0.6em;
					text-decoration: none;
				}
			}
		}
	}
	& input[type='checkbox'] {
		display: none;
	}
	& label.nav-toggle-label {
		display: none;
	}
}

main {
	min-height: calc(100vh - var(--main-navigation-height) - var(--main-footer-height));
}

footer.main-footer {
	min-height: var(--main-navigation-footer);
}

// Media Queries

@media (max-width: 991.98px) {
	nav.main-navigation {
		flex-direction: column;
		position: fixed;
		top: 0;
		width: 100%;
		& .nav-menu-wrapper {
			transition-property: none;
			& ul {
				flex-direction: column;
				transform: translateY(0%);
				position: static;
			}
		}

		& label.nav-toggle-label {
			display: inline-block;
			width: 48px;
			height: 48px;
		}
		& input[type='checkbox'] {
			& ~ label > svg {
				//display: inline-block;
				transition: opacity 0.12s linear;
				position: absolute;
				top: 0;
				left: 0;
				&.close {
					max-height: 0%;
					opacity: 0;
				}
				&.menu {
					//display: inline-block;
					max-height: 100%;
					opacity: 1;
				}
			}

			& ~ .nav-menu-wrapper {
				max-height: 0;
				opacity: 0;
				transition: opacity 0.12s linear;
			}
			&:checked ~ label > svg {
				&.close {
					max-height: 100%;
					opacity: 1;
				}
				&.menu {
					max-height: 0%;
					opacity: 0;
				}
			}
			&:checked ~ .nav-menu-wrapper {
				//display: block;
				max-height: 100%;
				opacity: 0.8;
				transition: opacity 0.12s linear;
			}
		}
		& label.nav-toggle-label {
			flex: 0 1 auto;
			position: absolute;
			top: calc(var(--main-navigation-height) / 2);
			transform: translateY(-50%);
			right: 1rem;
		}
	}

	main {
		margin-top: var(--main-navigation-height);
	}
}
